<h2><%= @group.name %></h2>

<%= link_to 'Edit', edit_group_path(@group), class: 'button' %>

<hr/>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Name</th>
      <th>URL</th>
    </tr>
  </thead>

  <tbody>
    <% @group.passwords.each do |password| %>
      <tr>
        <td><%= link_to password.name, password %></td>
        <td><%= password.account_name %></td>
        <td><%= link_to_if password.url, password.url, password.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>