<h3><%= @group.name %></h3>

<%= link_to 'Edit', edit_group_path(@group), class: 'btn btn-default' %>

<hr/>

<h4>Accounts</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Name</th>
      <th>URL</th>
    </tr>
  </thead>

  <tbody>
    <% @group.accounts.each do |account| %>
      <tr>
        <td><%= account.name %> <%= link_to 'Show', account, class: 'btn btn-default btn-xs' %></td>
        <td><%= account.account_name %></td>
        <td><%= link_to_if account.url, account.url, account.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>