<h2><%= @group.name %></h2>

<%= link_to 'Edit', edit_group_path(@group), class: 'button' %>

<hr/>

<h3>Accounts</h3>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Name</th>
      <th>URL</th>
    </tr>
  </thead>

  <tbody>
    <% @group.accounts.each do |account| %>
      <tr>
        <td><%= link_to account.name, account %></td>
        <td><%= account.account_name %></td>
        <td><%= link_to_if account.url, account.url, account.url %></td>
      </tr>
    <% end %>
  </tbody>
</table>