<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @group.name %> Group
      <%= link_to 'Edit', edit_group_path(@group), class: 'btn btn-default btn-xs' %>
    </h3>
  </div>
  <div class="panel-body">
    <h4>Members</h4>
    <%= render partial: 'users/user', collection: @group.users, spacer_template: 'shared/comma' %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Account</th>
        <th>Account Name</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <% @group.accounts.each do |account| %>
        <tr>
          <td><%= account.name %> <%= link_to 'Show', account, class: 'btn btn-default btn-xs' %></td>
          <td><%= account.account_name %></td>
          <td><%= link_to_if account.url, account.url, account.url %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>