<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'control-label' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <% if current_user.admin %>
    <div class="form-group">
      <%= f.label :admin, class: 'control-label' %>
      <%= f.check_box :admin, class: 'form-control' %>
    </div>
  <% end %>
  
  <% if current_user.admin %>
    <div class="form-group">
      <%= f.label :groups, class: 'control-label' %>
      <%= collection_check_boxes(:user, :group_ids, Group.all, :id, :name) %>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
