<h2><%= @user.name %></h2>

<table>
  <tr>
    <td class="form-field">Email:</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td class="form-field">Admin:</td>
    <td><%= @user.admin? %></td>
  </tr>
</table>

<hr/>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Passwords</th>
    </tr>
  </thead>

  <tbody>
    <% @user.groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.accounts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>