<h2><%= @user.name %></h2>

<table>
  <tr>
    <td class="form-field">Email:</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td class="form-field">Admin:</td>
    <td><%= @user.admin? %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_user_path(@user), class: 'button' %> 

<hr/>

<h3>Groups</h3>
<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Accounts</th>
    </tr>
  </thead>

  <tbody>
    <% @user.groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.accounts.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>
<ul>
  <% @user.activities.each do |activity| %>
    <li><%= activity.action.humanize %> <%= time_ago_in_words(activity.created_at) %> ago: <%= link_to activity.account.name, activity.account %></li>
  <% end %>
</ul>