<%= form_for(@password) do |f| %>
  <% if @password.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@password.errors.count, "error") %> prohibited this password from being saved:</h2>

      <ul>
      <% @password.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :account_name %><br>
    <%= f.text_field :account_name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.collection_select :group_id, Group.all, :id, :name, prompt: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
