<h2>Passwords</h2>

<table class="primary">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Name</th>
      <th>URL</th>
      <th>Group</th>
    </tr>
  </thead>

  <tbody>
    <% @passwords.each do |password| %>
      <tr>
        <td><%= link_to password.name, password %></td>
        <td><%= password.account_name %></td>
        <td><%= link_to_if password.url, password.url, password.url %></td>
        <td><%= link_to password.group_name, password.group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Password', new_password_path, class: 'button' %>
