<h2><%= @password.name %> - <%= link_to @password.group.name, @password.group %></h2>

<table>
  <tr>
    <td class='field-label'>URL:</td><td><%= link_to @password.url, @password.url %></td>
  </tr>
  <tr>
    <td class='field-label'>Account Name:</td><td><%= @password.account_name %></td>
  </tr>
  <tr>
    <td class='field-label'>Password:</td><td><%= @password.password %></td>
  </tr>
</table>

<hr>
<p><%= @password.notes %></p>

<%= link_to 'Edit', edit_password_path(@password), class: 'button' %> 
<%= link_to 'Destroy', @sword, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button error' %>
