<!DOCTYPE html>
<html>
<head>
  <title>PasswordVault</title>
  <link href="http://picnicss.com/releases/v2.3.min.css" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to root_path, class: 'main' do %>
    <%= image_tag 'vault_logo.png' %> Password Vault
  <% end %>
  <!-- responsive -->
  <input id="bmenu" class="burgercheck" type="checkbox">
  <label for="bmenu" class="burgermenu"></label>
  <!-- /responsive -->

  <div class="menu">
    <% if user_signed_in? %>
      <%= link_to "Accounts", accounts_path, class: 'icon-key' %>
      <%= link_to "Groups", groups_path, class: 'icon-suitcase' %>
      <%= link_to "Users", profiles_path, class: 'icon-users' %>
      <%= link_to current_user.name, profiles_path(current_user), class: 'icon-user' %>
      <%= link_to '', destroy_user_session_path, method: :delete, class: 'icon-logout' %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Log In", new_user_session_path, class: 'icon-login' %>
    <% end %>
  </div>
</nav>

<div class="main-content">
  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>
  
  <% if alert %>
    <div class="alert"><%= alert %></div>
  <% end %>
  
  <%= yield %>
</div>

</body>
</html>
