<!DOCTYPE html>
<html>
<head>
  <title>PasswordVault</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Password Vault', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Accounts", accounts_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <li><%= link_to "Users", users_path %></li>
      </ul>
      <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to current_user.name, current_user %>
        </li>
        <li>
          <%= link_to '', logout_path, method: :delete, class: 'glyphicon glyphicon-log-out' %>
        </li>
      </ul>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <% if notice %><div class="alert alert-success"><%= notice %></div><% end %>
  <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>
  <%= yield %>
</div><!-- /.container -->

</body>
</html>
