<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :url, class: 'control-label' %>
    <%= f.text_field :url, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :account_name, class: 'control-label' %>
    <%= f.text_field :account_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'control-label' %>
    <%= f.text_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :group, class: 'control-label' %>
    <%= f.collection_select :group_id, Group.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :notes, class: 'control-label' %>
    <%= f.text_area :notes, rows: "5", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
