<h2>Accounts</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Name</th>
      <th>Url</th>
      <th>Group</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.name, account %></td>
        <td><%= account.account_name %></td>
        <td><%= link_to_if account.url, account.url, account.url %></td>
        <td><%= link_to account.group.name, account.group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path, class: 'button' %>
